# Dependencies
node_modules/

# Build outputs
dist/
out/

# Foundry
cache/
foundry.lock

# Test coverage
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
foundryup.sh

.vercel
